<table>
  <tr><td>Hi <%= @user.login %> <%= @user.email %>,<br /><br /> Please use the link below to reset your password.<br /></td></tr>
  <tr><td><a href="<%= @url %>"><%= @url %></a></td></tr>
  <tr><td>(If you cannot click the link above, please copy and paste it into your browser's address bar)<br /><br /></td></tr>
  <tr><td> Thanks,</td></tr>
  <tr><td>SampleApp</td></tr>
</table>