#login-box {
    width:333px;
    height: 352px;
    padding: 58px 76px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
    background: url(images/login-box-backg.png) no-repeat left top;
}

#login-box img {
    border:none;
}

#login-box h2 {
    padding:0;
    margin:0;
    color: #ebebeb;
    font: bold 44px "Calibri", Arial;
}


#login-box-name {
    float: left;
    display:inline;
    width:80px;
    text-align: right;
    padding: 14px 10px 0 0;
    margin:0 0 7px 0;
}

#login-box-field {
    float: left;
    display:inline;
    width:230px;
    margin:0;
    margin:0 0 7px 0;
}


.form-login  {
    width: 205px;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color:#1e4f8a;
    font-size: 16px;
    color: #ebebeb;
}


.login-box-options  {
    clear:both;
    padding-left:87px;
    font-size: 11px;
}

.login-box-options a {
    color: #ebebeb;
    font-size: 11px;
}





/*
Design by CSS Templates For Free
http://www.csstemplatesforfree.com
Released for free under a Creative Commons Attribution 2.5 License


* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #FFFFFF url(../images/img01.gif) repeat-x;
    font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #333333;
}

h1, h2, h3 {
    color: #333333;
}

h2 {
}

h3 {
    font-size: 1em;
}

p, blockquote, ul, ol {
    margin-bottom: 1.5em;
    line-height: 1.8em;
    text-align: justify;
}

p {
}

blockquote {
    margin-left: 2em;
    margin-right: 2em;
    font-style: italic;
}

ul {
    margin-left: 3em;
}

ul li {
}

ol {
    margin-left: 3em;
}

ol li {
}

a {
    text-decoration: none;
    color: #972296;
}

a:hover {
    text-decoration: underline;
    color: #000000;
}

img {
}

img.left {
    float: left;
    margin: 0 20px 0 0;
}

img.right {
    float: right;
    margin: 0 0 0 20px;
}

 Boxed Style 

.boxed {
}

.boxed .title {
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 1em;
}

.boxed .content {
    padding: 20px;
    background: url(../images/img05.gif) repeat-x;
}

 Post 

.post {
}

.post .title {
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 1em;
}

.post .date {
    margin-top: -25px;
    padding-bottom: 10px;
    padding-right: 20px;
    text-align: right;
    font-size: x-small;
}

.post .date .month {
}

.post .date .day {
}

.post .date .year {
}

.post .meta {
    clear: both;
}

.post .meta p {
    margin: 0;
    padding: 10px 20px 40px 20px;
    border-top: 1px dotted #CCCCCC;
    line-height: normal;
    font-size: x-small;
}

.post .story {
    padding: 20px 20px 0 20px;
    background: url(../images/img05.gif) repeat-x;
}

 Header 

#header {
    width: 760px;
    height: 140px;
    margin: 0 auto;
}

 Header > Logo 

#logo {
    float: left;
    width: 240px;
    height: 50px;
}

#logo h1 {
    margin: 0;
    padding: 60px 0 0 0;
    font-size: 2.6em;
}

#logo h2 {
    margin-top: -5px;
    font-size: 1em;
}

#logo a {
    text-decoration: none;
    color: #000000;
}

 Header > Menu 

#menu {
    float: right;
}

#menu ul {
    margin: 0;
    padding-top: 76px;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu a {
    display: block;
    float: left;
    height: 24px;
    margin-left: 10px;
    padding: 15px;
    background: url(../images/img02.gif) repeat-x;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

#menu a:hover {
    background-image: url(../images/img04.gif);
    color: #FFFFFF;
}

#menu .active a {
    background-image: url(../images/img03.gif);
    color: #FFFFFF;
}

 Content 

#content {
    width: 760px;
    margin: 0 auto;
    padding-top: 20px;
}

 Content > Main 

#main {
    float: left;
    width: 520px;
}

 Content > Main > Welcome 

#welcome {
}

 Content > Main > Example 

#example {
}

 Content > Sidebar 

#sidebar {
    float: right;
    width: 220px;
}

 Content > Sidebar > Login 

#login {
}

#login form {
}

#login fieldset {
    border: none;
}

#login legend {
    display: none;
}

#login label {
    display: block;
}

#login input {
    margin-bottom: 10px;
    padding: 2px 5px;
    border: 1px solid #972296;
    font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #666666;
}

#inputtext1, #inputtext2 {
    width: 98%;
}

#inputsubmit1 {
    margin: 0;
    padding: 0;
    background: url(../images/img05.gif) repeat-x;
}

 Content > Sidebar > Updates

#updates {
}

#updates ul {
    margin: 0;
    list-style: none;
}

#updates h3 {
    font-size: .8em;
}

#updates p {
    line-height: normal;
    font-size: .8em;
}

#updates a {
    text-decoration: none;
}

 Footer 

#footer {
    clear: both;
    width: 760px;
    height: 80px;
    margin: 0 auto;
    padding: 30px 50px;
    background: url(../images/img07.gif) no-repeat center top;
}

#footer p {
    margin: 0;
    text-align: center;
    line-height: normal;
    font-size: x-small;
}

#footer a {
    text-decoration: underline;
    color: #666666;
}

#footer a:hover {
    text-decoration: none;
}

 Footer > Legal 

#legal {
}

 Footer > Links 

#links {
}*/


.calender_main
{
    width:211px;
    height:195px;
    float:left;
    margin-top:12px;
    margin-bottom:15px;
}
.calender_main #memo_calendar

{
    width:100%;
    height:195px;
    float:left;
}

#memo_calendar table {
    border: 1px solid #999999;
    border-collapse: collapse;
    float: left;
    height: 10%;
    position: relative;
    width: 100%;

}

#memo_calendar td,
#memo_calendar th {
    font-family: "Lucida Grande",arial,helvetica,sans-serif;
    font-size: 10px;
    text-align: center;
    border: 1px solid #999;
}

#memo_calendar th {
    background: none repeat scroll 0 0 #CCCCCC;
    color: white;
    font-size: 9px;
    text-align: center;
    width: 7.2857%;
}

#memo_calendar td {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    color: #777777;
    font-size: 10px;
    height: 26px;

}

#memo_calendar .notmonth {
    color: #CCC;
}

#memo_calendar #month {
    color: black;
    font-size: 16px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}

#memo_calendar #month a, #memo_calendar #month a:hover {
    text-decoration: none;
    padding: 0 8px;
    color: #red;

}

#memo_calendar .today {
    background-color: #CCCCCC;
    color:white;
    border: 1px solid;

}

#memo_calendar ul {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    color:red;
}

#memo_calendar li {
    margin: 0;
    padding: 0;
    font-size: 11px;
    text-align: center;
    color:red;
}
.input_box_new_common
{
    width:222px;
    height:73px;
    float:left;
    border:1px solid #8cabc0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 13px;
    background:#f5fbff;
    font-size:12px;
}