@charset "utf-8";
/* CSS Document */
body
{
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#333333;
    background:#f2f2f2;
}
ul,li,p,h1,h2,h3,h4,h5,h6
{
    margin:0px;
    padding:0px;
}
a
{
    text-decoration:none;
    color:inherit;
}

img
{
    border:0px;
}
input::-moz-focus-inner {

    border: 0 none;

}
.clear
{
    clear:both;
}
.Ehealth_wrapper_shade
{
    width:1030px;
    height:auto;
    margin:auto;
    background-image:url(../images/bg.png);
    background-repeat:repeat-y;
    background-position:left top;

}
.Ehealth_wrapper_shade .Ehealth_wrapper
{
    width:1030px;
    height:auto;
    margin:auto;
    background:#ffffff;
}

.banner_image_main
{
    width:100%;
    height:170px;
    float:left;
    background-color:#ffffff;
    background:url(../images/banner_bg.jpg);
    background-repeat:repeat-x;
    background-position:left bottom;
    border-bottom:2px solid #40a5d2;
}
.banner_image_main .banner_image_right
{
    width:750px;
    float:right;
    height:auto;
}
.footer
{
    width:100%;
    height:auto;
    float:left;
    margin-top:16px;
}
.footer .footer_left
{
    width:227px;
    min-height:73px;
    float:left;
    background:url(../images/footer_left.png);
    background-repeat:repeat-x;
    background-position:left top;
}
.footer .footer_mid
{
    width:52px;
    min-height:73px;
    float:left;
    background:url(../images/footer_mid.png);
    background-repeat:repeat-x;
    background-position:left top;
}
.footer .footer_right
{
    width:745px;
    min-height:73px;
    float:left;
    background:url(../images/footer_right.png);
    background-repeat:repeat-x;
    background-position:left top;
}
.footer_left .copyright
{
    width:auto;
    height:auto;
    float:left;
    color:#333333;
    margin: 26px 0 0 20px;
}
.footer_right .footer_right_Ulist
{
    width:auto;
    height:auto;
    float:right;
    margin-top:13px;
}
.footer_right .footer_right_Ulist li
{
    width:auto;
    height:auto;
    float:left;
    list-style:none;
    display:inline;
}
.footer_right .footer_right_Ulist li a
{
    width:auto;
    height:auto;
    float:left;
    color:#ffffff;
    padding:0px 9px;
}
.footer_right .footer_right_Ulist li a:hover
{
    color:#92c90e;
}
.footer_right_Ulist span
{
    color:#ffffff;
}


.common_inp_select
{
    width:178px;
    height:auto;
    float:left;
    border:1px solid #8cabc0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left:7px;
    font-size:11px;
    height:21px;
}

.common_input_text
{
    width:176px;
    height:auto;
    float:left;
    border:1px solid #8cabc0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left:7px;
    font-size:12px;
}

.common_textarea_popup
{
    width:177px;
    height:85px;
    float:left;
    border:1px solid #8cabc0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize:none;
    font-family:Arial, Helvetica, sans-serif;
    color:#333333;
    font-size:12px;
    margin-left: 7px;
}

.right_input .ventor_input_radio
{
    width:auto;
    height:auto;
    float:left;
    vertical-align:middle;
    display:inline;
}

.right_input
{
    font-family:Arial, Helvetica, sans-serif;
}

.vendor_error_msg1 {
    clear: left;
    color: red;
    float: left;
    padding: 2px 0 0 12px;
    text-align: left;
}


.banner_image_main
{
    width:100%;
    height:170px;
    float:left;
    background-color:#ffffff;
    background:url(../images/banner_bg.jpg);
    background-repeat:repeat-x;
    background-position:left bottom;
    border-bottom:2px solid #40a5d2;
}
.banner_image_main .banner_image_right
{
    width:750px;
    float:right;
    height:auto;
}
.banner_image_right .banner_image_right_text
{
    width:auto;
    float:left;
    height:auto;
    color:#329ecf;
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:50px;
}
.banner_image_right .banner_image
{
    width:auto;
    float:right;
    height:auto;

    margin-top: -36px;
    margin-right:40px;
}

.Ehealth_pateint_wrapper_shade
{
    width:1048px;
    height:auto;
    margin:auto;
    background-image:url(../images/bg.png);
    background-repeat:repeat-y;
    background-position:left top;
}
.Ehealth_pateint_wrapper_shade .Ehealth_patient_MWrapper
{
    width:1024px;
    height:auto;
    margin:auto;
    background:#ffffff;
}

.menu_color
{
    color: darkgoldenrod;
}
.title_color
{
    color: #329ecf
}
.user_status
{
    width:190px;
    height:auto;
    float:right;
    margin-top: 7px;
}
.user_status .user_status_image
{
    width:auto;
    height:auto;
    float:left;
}
.user_status .user_status_image img
{
    width:43px;
    height:43px;
}
.user_status .user_status_text
{
    width:140px;
    height:auto;
    float:right;
}
.user_status_text .logged_in
{
    width:100%;
    height:auto;
    float:left;
    color:#008000;
    margin-top:2px;
}
.user_status_text .logged_in_name
{
    width:100%;
    height:auto;
    float:left;
    color:#000FF;
    font-weight:bold;
    margin-top:4px;
}

.navigation
{
    width:auto;
    height:auto;
    float:left;
}
.navigation .navigation_Ulist
{
    width:auto;
    height:auto;
    float:left;
    margin-top:20px;
}
.navigation .navigation_Ulist li
{
    width:auto;
    height:auto;
    float:left;
    display:inline;
    list-style:none;
}
.navigation .navigation_Ulist li a
{
    width:auto;
    height:auto;
    float:left;
    padding:0px 20px;
    font-weight:bold;
    color:#ffffff;
}
.navigation .navigation_Ulist li a:hover
{
    color:#03233a;
}
.navigation .navigation_Ulist li a.menu_selcted
{
    color:#03233a;
    cursor:default;
}
