<html>
<%#*<table>%>
  <%= render 'flash_messages' %>
<%#*<tr>%>
<%#*<td width="40%"></td>%>
<%#*<td width="60%">%>
  <h3 >Register</h3>
  <%= render @user %>
<%#*</td>%>
<%#*</tr>%>
<%#*</table>%>
</html>