

<%#*<table style="margin-top: 800px;" >%>
  <%#*<tr>%>
    <%#*<td >%>
      <%#if current_user.profile.nil? %>
        <%#= link_to "Add profile", new_profile_path %>
      <%# else %>
        <%#= link_to "edit profile", edit_profile_path(@current_user) %>
      <%# end %>
    <%#*</td>%>
    <%#*<td>%>
    <%#*</td>%>
  <%#*</tr>%>

<%#*</table>%>